#logo{
    font-family: "Water Brush", cursive;
    font-size: 3.5rem;
    font-weight: 100;
    cursor: pointer;
}

.burger-menu{
    display:flex;
    justify-content: center;
    flex-direction: column;
    position:relative;
    height: 100%;
    width: 2.5rem;
    cursor: pointer;
    margin-right:1rem;
}
  
.burger-menu .line{
    background-color: white;
    width: 100%;
    height: 1px;
    margin:.3rem auto;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

.fixed{
    /* this take whole width without width:100% */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* anim for entering */
    animation: slideDown .3s ease-in-out; 
}

.slidingUp{
    animation: slideUp .3s forwards;
}

.burger-menu.active{
    padding:1rem 0rem;
}

.burger-menu.active .line:nth-child(2){
    opacity: 0;
}

.burger-menu.active .line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.burger-menu.active .line:nth-child(3){
    transform: translateY(-6px) rotate(-45deg);
}

li {
    list-style-type: none;  
}

.navigation a{
    padding: 0em 1.2rem;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size:1.6rem;
    color:white;
}

.navigation-links{
    display: none;
}

.navigation-links.active{
    width: 100%;
    height: 100%;
    display: block;
    position:fixed;
    left:0;
    top: 6.8rem;
    flex-direction: column;
    background-color: #2B2B2B;

    text-align: center;
}
.navigation-links.active ul{
    width: 100%;
    height: 70%;
    /* min-height: 250px;     */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #2B2B2B; */
}

.navigation-links.active ul li{
    margin:3em 0em;
    animation: slideDownH .1s ease-in;
}


.navigation-links.active ul li a{
    font-weight: 300;
    font-size: 1.7em;
}

@media (min-width: 576px) {
    .burger-menu.active{
        /* padding-right: 11rem; */
    }

    .navigation-links.active ul li a{
        font-size: 1.8em;
    }
}

@media (min-width: 768px) {
    .navigation-links.active ul li{
        margin-bottom:3.5rem;
    }

    .navigation-links.active ul li a{
        font-size: 2em;
    }
}

@media (min-width: 1024px) {

    .navigation-links{
        display:block;
    }

    .navigation .active{
        display: none;
    }

    /* .navigation-links.active{
        display: none;
    } */
    ul{
        display: flex;
    }

    .burger-menu{
        display:none;
    }
}

@keyframes slideDown {
    /* 0% */
    from{
        top: -50px;
    }
    /* 100% */
    to {
        top: 0;
    }
}

@keyframes slideUp {
    from{
        top: 0;
    }
    to {
        top: -100px;
    }
}

@keyframes slideDownH {
    0%{
        transform:translateY(-50px)
    }
    100% {
        transform:translateY(0)
    }
}
