*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
}

html{
    /* by default  font-size 1rem = 16px */
    font-size: 62.5%;
    /* 16px * 0.625 = 10px */
    /* for example p => font-size: 1.8rem  ---> 10px * 1.8 = 18px */
}
   
body{
    background-color: #343434;
    color:white;
}

header{
    background-color: #2B2B2B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 3rem;
    /* color:white; */
}

main{
    /* width:100%; */
    /* height: 100vh; */
    padding: 0em 3rem;
}

footer{
    padding:1em 1em;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

@media (min-width: 768px) {

    /* html{
        font-size: 72.5%;
    } */

    header{
        padding:1rem 4.5rem;
    }
    main{
        padding: 0em 4.5rem;
    }
}

@media (min-width: 1024px) {

    
    header{
        padding:1rem 5.5rem;
    }

    main{
        padding: 0em 5.5rem;
    }
}
   
/* Default styles for mobile */ 
    /* .grid-container-flex {
        display: flex;
        flex-direction: column;
        background-color: purple;
        font-size: 0.9rem;
        color: white;
        margin-top: 1rem;
        height: 9em;
    }

    .grid-container-grid {
        display: grid;
        grid-template-columns: 20em;
        height: 8em;
        font-size: 1.1rem;
    } */

    /* Media query for tablets */
    /* @media (min-width: 768px) {
        .grid-container-flex {
        font-size: 1.3rem;
        }

        .grid-container-grid {
        grid-template-columns: none;
        height: 10em;
        }
    } */

    /* Media query for desktops */
    /* @media (min-width: 1024px) {

        .grid-container-flex {
        font-size: 2rem;
        }

        .grid-container-grid {
        grid-template-columns: none;
        height: 12em;
        }
    } */
   