*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
}

html{
    /* by default  font-size 1rem = 16px */
    font-size: 62.5%;
    /* 16px * 0.625 = 10px */
    /* for example p => font-size: 1.8rem  ---> 10px * 1.8 = 18px */
}
   
body{
    /* background-color: #343434; */
    /* background-color: #1f1f1f; */
    background-color: #222222;
    color:white;
}

body.active{
    overflow: hidden;
}

header{
    background-color: #2B2B2B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 4rem;

    z-index: 10;
    /* top:0; */
    /* transition: top 0.3s ease-in-out; */
}
header.mobile{
    position:fixed;
    width: 100%;
}

main{
    /* centralize main container (bout sides have same margin */
    margin:0 auto 0 auto; 
    /* width:100%;
    height: 100vh; */
    padding: 0em 4rem;
    max-width:1300px;   
}

/* when the header is showned ,this fixing context jumping occured position:fixed*/
main.fixed-margin {
    margin-top: 7.5rem; /* value based on the header height */
}
/* main .active{
    overflow-y:hidden;
} */


.hidden{
    opacity: 0;
    /* filter:blur(5px); */
}

/* Observer scroll animation */
.show{
    /* animation: scroll-in 2s forwards; */
    opacity: 1;
    filter:blur(0);
    /* transform:  translateX(0); */
    animation: scroll-in .8s forwards;
}


@keyframes scroll-in {
    0%{
        opacity: 0;
        transform: translateY(30px);
        filter:blur(5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        filter:blur(0);
    }
}

/* suggestion - add style for every h2 in sections (part names) */
/* section h2{
    font-size: 2.5em;
    font-weight: 500;
    padding-bottom: 1.5em;
    font-family: "Montserrat", sans-serif;
} */

footer{
    padding:1em 1em;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

@media (min-width: 576px) {
    header{
        padding:1rem 5.5rem;
    }
    main{
        padding: 0em 5.5rem;
    }
}

@media (min-width: 768px) {

    /* html{
        font-size: 72.5%;
    } */

    header{
        padding:1rem 6.5rem;
    }
    main{
        padding: 0em 6.5rem;
    }
}

@media (min-width: 1024px) {

    
    header{
        padding:1rem 7.5rem;
    }

    main{
        padding: 0em 7.5rem;
    }
}
   
/* Default styles for mobile */ 
    /* .grid-container-flex {
        display: flex;
        flex-direction: column;
        background-color: purple;
        font-size: 0.9rem;
        color: white;
        margin-top: 1rem;
        height: 9em;
    }

    .grid-container-grid {
        display: grid;
        grid-template-columns: 20em;
        height: 8em;
        font-size: 1.1rem;
    } */

    /* Media query for tablets */
    /* @media (min-width: 768px) {
        .grid-container-flex {
        font-size: 1.3rem;
        }

        .grid-container-grid {
        grid-template-columns: none;
        height: 10em;
        }
    } */

    /* Media query for desktops */
    /* @media (min-width: 1024px) {

        .grid-container-flex {
        font-size: 2rem;
        }

        .grid-container-grid {
        grid-template-columns: none;
        height: 12em;
        }
    } */
   